Flask==1.0.2
Flask-Dropzone==1.5.4
Flask-RESTful==0.3.7
gunicorn==19.9.0
heroku==0.1.4
Jinja2==2.10
jsonpickle==1.0
jsonschema==2.6.0
numpy==1.15.2
pdfminer==20140328
pdfminer.six==20181108
pyparsing==2.2.2
PyPDF2==1.26.0
pypiwin32==219
pyreadline==2.1
python-dateutil==2.7.5
python-utils==2.3.0
python2==1.2
rake-nltk==1.0.4
six==1.12.0
slate==0.3
SpeechRecognition==3.8.1
tornado==5.1.1
travis==0.0.3
utils==0.9.0
virtualenv==16.7.5
Werkzeug==0.14.1
